<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/imask"></script>

    <style>
        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body>

    {% extends "base.html" %}

    {% block title %}Cliente{% endblock %}

    {% block content %}

<div class="container">
    <h2>Cadastro de Clientes</h2>
    <form id="employee-registration-form">
        <div class="form-group">
            <label for="idCliente">ID do Cliente:</label>
            <input type="text" class="form-control" id="idCliente" required>
        </div>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" required>
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" required>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" class="form-control" id="telefone" required>
        </div>
        <div class="form-group">
            <label for="compraFiado">Compra Fiado:</label>
            <select class="form-control" id="compraFiado" required>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
        </div>
        <div class="form-group">
            <label for="diaFiado">Dia Fiado:</label>
            <input type="text" class="form-control" id="diaFiado" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<script>
    // Aplicar máscaras aos campos
    var cpfMask = new IMask(document.getElementById('cpf'), { mask: '000.000.000-00' });
    var telMask = new IMask(document.getElementById('telefone'), { mask: '(00) 00000-0000' });
    var diaFiadoMask = new IMask(document.getElementById('diaFiado'), { mask: '00/00/0000' });

    // Validar o formulário
    $('#employee-registration-form').submit(function (e) {
        e.preventDefault();
        var idCliente = $('#idCliente').val();
        var nome = $('#nome').val();
        var cpf = cpfMask.unmaskedValue;
        var telefone = telMask.unmaskedValue;
        var compraFiado = $('#compraFiado').val();
        var diaFiado = diaFiadoMask.unmaskedValue;
        var senha = $('#senha').val();


        // Se tudo estiver válido, você pode enviar o formulário para o servidor
        console.log('ID do Cliente: ' + idCliente);
        console.log('Nome: ' + nome);
        console.log('CPF: ' + cpf);
        console.log('Telefone: ' + telefone);
        console.log('Compra Fiado: ' + compraFiado);
        console.log('Dia Fiado: ' + diaFiado);
        console.log('Senha: ' + senha);

        // Limpar os campos após o envio
        $('#employee-registration-form')[0].reset();
    });
</script>
{% endblock %}
</body>
</html>